:root {
    --light-blue: #D7EBF6;
    --blue: #509BE7;
    /* --light-pink: rgba(255, 215, 237, 0.7); */
    --light-pink: rgba(255, 255, 255, 0.5);
    --pink: #E750A3;
    /* --light-yellow: rgba(250, 245, 216, 0.7); */
    --light-yellow: rgba(255, 255, 255, 0.5);
    --yellow: #D5B500;
    --dark-blue: #2163A5;
    --white: #ffffff;
}

.header {
    background-color: #568dc5;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 200px 50px;
    justify-content: center;
    text-align: center;
}

body{
    background-color: var(--light-blue);
    margin: 0px;
}

.topnav{
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 25px 10px 25px;
    align-items: center;
    height: 40px;
}

.header {
    background-color: #D7EBF6;
    color: black;
    display: flex;
    flex-direction: column;
    padding: 200px 50px;
    justify-content: center;
    text-align: center;
}

h1{
    font-size: 60px;
    font-family: "inter", sans-serif;
    font-style: normal;
    font-weight: 200;
    line-height: 1;
    margin: 0px;
}
h2{ 
    font-size: 40px;
    font-family: "inter", sans-serif;
    font-weight: 200;
    font-style: normal;
    line-height: 0.9;
    margin: 0px;
}
h3{ 
    font-family: "inter", sans-serif;
    font-style: normal;
    color: black;
    font-weight: 400;
    line-height: 1.0;
    font-size: 30px;
    margin: 20px 0px 8px 0px;
}

h4{ 
    font-family: "aktiv-grotesk", sans-serif;
    font-style: normal;
    color: black;
    font-weight: 400;
    line-height: 1.0;
    font-size: 15px;
    margin: 0px;
    margin-bottom: 20px;
}

h5{ 
    font-style: normal; 
    font-family: "aktiv-grotesk", sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin: 2px 0px;
    line-height: 1.5;
    color: #568dc5;
}

p{
    font-family: "aktiv-grotesk", sans-serif;
    font-weight: 300;
    font-size: 18px;
    margin: 10px 0px;
    line-height: 1.2;
}

a {
    color: #568dc5;
    text-decoration: none;
    font-family: "inter", sans-serif;
    font-weight: 300;
    font-size: 18px;
}

a:hover {
    transition-duration: 0.3s;
    color: black;
}

.button-box {
    background-color: transparent;
    border: 1px solid var(--btn-color);
    color: var(--btn-color);
    padding: 5px 30px;
    border-radius: 40px;
    transition-duration: 0.4s;
    margin: 0px 10px;

    font-style: normal; 
    font-family: "inter", sans-serif;
    font-weight: 200;
    font-size: 25px;
    cursor: pointer;
}

.button-box:hover{
    opacity: 0.4;
}

.button-select {
    background-color: var(--btn-color);
    border: none;
    color: white;
    padding: 5px 30px;
    border-radius: 40px;
    transition-duration: 0.4s;
    margin: 0px 10px;

    font-style: normal; 
    font-family: "inter", sans-serif;
    font-weight: 200;
    font-size: 25px;
    cursor: pointer;
}

.button-select:hover {
    opacity: 0.4;
}

.flex-container{
    background-color: white;
    padding: 40px 300px 40px 300px;
}

.flex-card{
    transition-duration: 0.4s;
    display: flex;
    border-radius: 20px;
    align-items:flex-start;
    width: 260px;
    height: 260px;
    margin: 15px; 
    padding: 20px; 
    color:black; 
    flex-direction: column;
    align-items: stretch;
    cursor: pointer;
}

.flex-card:hover{
    transition-duration: 0.3s;
    width: 280px;
    height: 280px;
    margin: 0px;
    padding: 25px;
    background-color: white;
    opacity: 1.0;
    cursor: pointer;
}

.featured-work{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 100px;
}